              <!-- // Footer -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="<%= current_page.data.footerBackground || "#666666" %>" role="presentation">
                <tr>
                  <td valign="top" align="left" style="padding: 15px 20px 25px 20px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; min-width: 100%;" role="presentation">
                      <% if current_page.data.footerPermissionReminder != "" %>
                      <tr>
                        <td valign="top" style="padding-top: 10px;"><p style="Margin:0;padding:0; font-size: 12px; mso-line-height-rule:exactly; line-height: 15px; font-family: Arial,Verdana,sans-serif; color:#ffffff;"><%= current_page.data.footerPermissionReminder %></p></td>
                      </tr>
                      <% end %>
                      <tr>
                        <td class="footerLinks" valign="top" style="padding-top: 5px;"><p style="Margin:0;padding:0; font-size: 12px; mso-line-height-rule:exactly; line-height: 15px; font-family: Arial,Verdana,sans-serif; color:#ffffff;"><a class="link" href="#" style="text-decoration: underline; color: #fffffe;" target="_blank">Privacy Statement</a><span class="mHide"> | </span><a class="link" href="#" style="text-decoration: underline; color: #fffffe;">View in browser</a><span class="mHide">  | </span><a class="link" href="#" style="text-decoration: underline; color: #fffffe;">Unsubscribe</a></td>
                      </tr>
                      <tr>
                        <td valign="top" style="padding-top: 20px;"><p style="Margin:0;padding:0; font-size: 12px; mso-line-height-rule:exactly; line-height: 15px; font-family: Arial,Verdana,sans-serif; color:#ffffff;">&copy; 2019 Company Newsletter</p></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- Footer \\ -->