                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" align="center" style="margin: 0 auto;">
                      <tr>
                        <td valign="top" bgcolor="{% if button.background %}{{button.background}}{% else %}{{defaults.btnBackgroundDefault}}{% endif %}" style="border-radius: {% if button.radius %}{{button.radius}}{% else %}{{defaults.btnRadiusDefault}}{% endif %}px; mso-padding-alt: 10px 20px 10px 20px;"><a href="#" style="display:block; padding: 10px 20px; border: 1px solid {% if button.background %}{{button.background}}{% else %}{{defaults.btnBackgroundDefault}}{% endif %}; border-radius: {% if button.radius %}{{button.radius}}{% else %}{{defaults.btnRadiusDefault}}{% endif %}px; font-size: 19px; mso-line-height-rule:exactly; line-height: 24px; font-family: Arial,Helvetica,sans-serif; text-decoration: none; color: {% if button.textColor %}{{button.textColor}}{% else %}{{defaults.btnTextColorDefault}}{% endif %};" target="_blank"><strong style="font-weight: normal; text-decoration: none;">Button CTA</strong></a></td>
                      </tr>
                    </table>